<div class="p-3">
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link bg-fusion-100 mb-2 active" data-toggle="pill" href="#tab-repositories-r1" role="tab" aria-controls="tab-repositories-r1"><span class="badge bg-fusion-900 mr-3">1</span>Create</a>
                <a class="nav-link bg-fusion-100 mb-2" data-toggle="pill" href="#tab-repositories-r2" role="tab" aria-controls="tab-repositories-r2"><span class="badge bg-fusion-900 mr-3">2</span>VNFD</a>
                <a class="nav-link bg-fusion-100 mb-2" data-toggle="pill" href="#tab-repositories-r3" role="tab" aria-controls="tab-repositories-r3"><span class="badge bg-fusion-900 mr-3">3</span>Remove</a>
            </div>
        </div>
        <div class="col-10 border">
            <div class="tab-content p-2" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="tab-repositories-r1" role="tabpanel" aria-labelledby="tab-repositories-r1-tab">
                    <p>
                        Creates an instance of a selected VNF inside the infrastructure being used (e.g., FENDE or customized infrastructure). Basically, this action will send instructions to infrastructure manager to create and run an instance of the VNF.
                    </p>
                </div>
                <div class="tab-pane fade" id="tab-repositories-r2" role="tabpanel" aria-labelledby="tab-repositories-r2-tab">
                    <p>
                        Creates an instance of a selected VNF inside the infrastructure being used (e.g., FENDE or customized infrastructure). Basically, this action will send instructions to infrastructure manager to create and run an instance of the VNF.
                    </p>
                </div>
                <div class="tab-pane fade" id="tab-repositories-r3" role="tabpanel" aria-labelledby="tab-repositories-r3-tab">
                    <p>
                        Deletes a VNF from the list of acquired VNFs. Once clicked, this action will remove the VNF from your personal library, returning to FENDE catalog and will not be accessible unless the customer acquire it again.
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>