{% extends "marketplace.html" %}
{% load i18n %}
{% load static %}
{% load advanced_inputs %}
{#{% load services %}#}
{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'Marketplace:service' service.id %}">{{ service.sfc_name }}</a></li>
{% endblock %}
<!-- CONTEUDO INTERNO -->
{% block page_content %}
    <div class="container">
        <div class="bg-white">
            <div class="px-5 py-3">
                {% include 'marketplace/service_info.html' %}
            </div>
        </div>
    </div>
{% endblock %}
<!-- CONTEUDO INTERNO -->
